USE [RestaurantDB]
GO
/****** Object:  User [IIS APPPOOL\Restaurant]    Script Date: 12/5/2022 1:43:37 PM ******/
CREATE USER [IIS APPPOOL\Restaurant] FOR LOGIN [IIS APPPOOL\Restaurant] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\Restaurant]
GO
/****** Object:  Schema [Master]    Script Date: 12/5/2022 1:43:37 PM ******/
CREATE SCHEMA [Master]
GO
/****** Object:  Schema [Order]    Script Date: 12/5/2022 1:43:37 PM ******/
CREATE SCHEMA [Order]
GO
/****** Object:  Table [Master].[AdminUser]    Script Date: 12/5/2022 1:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Master].[AdminUser](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUsername] [varchar](50) NOT NULL,
	[AdminPassword] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_AdminUser] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Master].[Customers]    Script Date: 12/5/2022 1:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Master].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Master].[Items]    Script Date: 12/5/2022 1:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Master].[Items](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](100) NOT NULL,
	[ItemPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Master].[PaymentTypes]    Script Date: 12/5/2022 1:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Master].[PaymentTypes](
	[PaymentTypeId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeName] [varchar](50) NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Order].[OrderDetails]    Script Date: 12/5/2022 1:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Order].[OrderDetails](
	[OrderDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [Order].[Orders]    Script Date: 12/5/2022 1:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [Order].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[PaymentTypeId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OrderNumber] [varchar](250) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[FinalTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [Order].[Transactions]    Script Date: 12/5/2022 1:43:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Order].[Transactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime] NOT NULL,
	[TypeId] [int] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [Master].[AdminUser] ON 

INSERT [Master].[AdminUser] ([AdminId], [AdminUsername], [AdminPassword], [Email], [FirstName], [LastName], [IsAdmin]) VALUES (1, N'Tananya1', N'Tanya123', N'por.asava@hotmail.com', N'Tananya', N'Asavaoran', 0)
SET IDENTITY_INSERT [Master].[AdminUser] OFF
SET IDENTITY_INSERT [Master].[Customers] ON 

INSERT [Master].[Customers] ([CustomerId], [CustomerName]) VALUES (1, N'Customer A')
INSERT [Master].[Customers] ([CustomerId], [CustomerName]) VALUES (2, N'Customer B')
INSERT [Master].[Customers] ([CustomerId], [CustomerName]) VALUES (3, N'Customer C')
SET IDENTITY_INSERT [Master].[Customers] OFF
SET IDENTITY_INSERT [Master].[Items] ON 

INSERT [Master].[Items] ([ItemId], [ItemName], [ItemPrice]) VALUES (1, N'1 - Signature Tonkotsu Chashu Ramen', CAST(17.80 AS Decimal(18, 2)))
INSERT [Master].[Items] ([ItemId], [ItemName], [ItemPrice]) VALUES (2, N'2 - Oh my HOT!! Tonkotsu Chashu Ramen', CAST(18.80 AS Decimal(18, 2)))
INSERT [Master].[Items] ([ItemId], [ItemName], [ItemPrice]) VALUES (3, N'3 - Nostalgic Japanese Soy Chicken Ramen', CAST(17.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [Master].[Items] OFF
SET IDENTITY_INSERT [Master].[PaymentTypes] ON 

INSERT [Master].[PaymentTypes] ([PaymentTypeId], [PaymentTypeName]) VALUES (1, N'Cash')
INSERT [Master].[PaymentTypes] ([PaymentTypeId], [PaymentTypeName]) VALUES (2, N'Credit')
SET IDENTITY_INSERT [Master].[PaymentTypes] OFF
SET IDENTITY_INSERT [Order].[OrderDetails] ON 

INSERT [Order].[OrderDetails] ([OrderDetailId], [OrderId], [ItemId], [UnitPrice], [Quantity], [Discount], [Total]) VALUES (2651, 2242, 1, CAST(17.80 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(17.80 AS Decimal(18, 2)))
INSERT [Order].[OrderDetails] ([OrderDetailId], [OrderId], [ItemId], [UnitPrice], [Quantity], [Discount], [Total]) VALUES (2652, 2242, 2, CAST(18.80 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(37.60 AS Decimal(18, 2)))
INSERT [Order].[OrderDetails] ([OrderDetailId], [OrderId], [ItemId], [UnitPrice], [Quantity], [Discount], [Total]) VALUES (2653, 2242, 3, CAST(17.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(51.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [Order].[OrderDetails] OFF
SET IDENTITY_INSERT [Order].[Orders] ON 

INSERT [Order].[Orders] ([OrderId], [PaymentTypeId], [CustomerId], [OrderNumber], [OrderDate], [FinalTotal]) VALUES (2242, 1, 3, N'16132022041351', CAST(N'2022-11-16 16:13:51.527' AS DateTime), CAST(106.40 AS Decimal(18, 2)))
INSERT [Order].[Orders] ([OrderId], [PaymentTypeId], [CustomerId], [OrderNumber], [OrderDate], [FinalTotal]) VALUES (2243, 1, 3, N'16132022041356', CAST(N'2022-11-16 16:13:56.900' AS DateTime), CAST(106.40 AS Decimal(18, 2)))
INSERT [Order].[Orders] ([OrderId], [PaymentTypeId], [CustomerId], [OrderNumber], [OrderDate], [FinalTotal]) VALUES (2244, 1, 3, N'16212022042154', CAST(N'2022-11-16 16:21:54.310' AS DateTime), CAST(106.40 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [Order].[Orders] OFF
SET IDENTITY_INSERT [Order].[Transactions] ON 

INSERT [Order].[Transactions] ([TransactionId], [ItemId], [Quantity], [TransactionDate], [TypeId]) VALUES (2644, 1, CAST(0.00 AS Decimal(18, 2)), CAST(N'2022-11-16 16:13:51.640' AS DateTime), 2)
INSERT [Order].[Transactions] ([TransactionId], [ItemId], [Quantity], [TransactionDate], [TypeId]) VALUES (2645, 2, CAST(0.00 AS Decimal(18, 2)), CAST(N'2022-11-16 16:13:51.693' AS DateTime), 2)
INSERT [Order].[Transactions] ([TransactionId], [ItemId], [Quantity], [TransactionDate], [TypeId]) VALUES (2646, 3, CAST(0.00 AS Decimal(18, 2)), CAST(N'2022-11-16 16:13:51.697' AS DateTime), 2)
GO
SET IDENTITY_INSERT [Order].[Transactions] OFF
ALTER TABLE [Order].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Orders] FOREIGN KEY([OrderId])
REFERENCES [Order].[Orders] ([OrderId])
GO
ALTER TABLE [Order].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Orders]
GO
